{# pages/about.html #}

    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl">About</h1>
        <div class="govuk-grid-column-one-third app-sticky-element">
            <p class="govuk-body">Contents</p>
            <p class="govuk-body">-- <a href="#overview" class="govuk-link">Overview</a></p>
            <p class="govuk-body">-- <a href="#get-involved" class="govuk-link">Get Involved</a></p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <!-- Overview -->
            <span class="govuk-caption-l">What we do at {{serviceName}}</span>
            <h2 class="govuk-heading-l" id="overview">Overview</h2>
            <p class="govuk-body">The cross-government artificial intelligence (AI) community exists to:</p>
            <ul class="govuk-list govuk-list--bullet">    
                <li>share information about what other departments are doing in the field of AI</li>
                <li>enable people using AI tools in the workplace to share their experiences and best practices</li>
                <li>host talks on topics including AI ethics, security and emerging uses of AI technology, from speakers both inside and outside government</li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            
            <!-- Get Involved -->
            <h2 class="govuk-heading-l" id="get-involved">Get Involved</h2>
            <div class="govuk-form-group">
                <p class="govuk-body">Enter your email address to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>subscribe for email and meeting updates.</li>
                    <li>manage your existing subscrription.</li>
                    <li>oranges</li>
                </ul>

                <input class="govuk-input govuk-input--width-20" id="email" name="email" type="text">
                <button class="govuk-button" aria-placeholder="Enter your email address">Enter</button>
                <!-- <div class="govuk-input__wrapper govuk-form-group--error">
                    <p id="event-name-error" class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> Enter a valid email address</p>
                    <input class="govuk-input govuk-input--error" id="email" name="email" type="text">
                    <button class="govuk-button" aria-placeholder="Enter your email address">Enter</button>
                </div> -->
            </div>
        </div>
	</div>