{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
	homepageUrl: "/",
	productName: serviceName })
}}
{{ govukServiceNavigation({
	navigation: [
		{ href: "/", text: "About", active: page == "about" },
		{ href: "/blog", text: "Blog", active: page == "blog" },
		{ href: "/chat", text: "Chat", active: page == "chat" },
		{ href: "/resources", text: "Resources", active: page == "resources" },
		{ href: "/links", text: "Links", active: page == "links" }
	]
}) }}
{% endblock %}

{% block content %}
	{% if page == "about" %}
		{% include "pages/about.html" %}
	{% elseif page == "blog" %}
		{% include "pages/blog.html" %}
	{% elseif page == "chat" %}
		{% include "pages/chat.html" %}
	{% elseif page == "resources" %}
		{% include "pages/resources.html" %}
	{% elseif page == "links" %}
		{% include "pages/links.html" %}
	{% else %}
		{% include "pages/about.html" %}
	{% endif %}
{% endblock %}