{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<html lang="en" class="govuk-template">
    <head>
        <meta charset="utf-8">
        <title>{% block pageTitle %}{{serviceName}}{% endblock %} - GOV.UK</title>

        <meta name="viewport" content="width=device-width, intial-scale=1">

        {# {{ govukTemplate.head() }} #}
    </head>

    <body class="govuk-template_body">
        {# {{ govukTemplate.skipLink() }} #}
        
        {% block header %}{% endblock %}

        <div class="govuk-width-container">
            {% block beforeContent %}{% endblock %}

            <main class="govuk-main-wrapper" id="main-content" role="main">
                {% block content %}{% endblock %}
            </main>
        </div>

        {%block footer%}{{ govukFooter() }}{% endblock %}

        {# {{ govukTemplate.bodyEnd() }} #}

        {% block scripts %}{% endblock %}
    </body>
</html>
